/***** GREEN FONT FOR HEADER *****/

#header a {
  color: #00AE58; /*green color*/
}
#header a.link-login {
  border: solid 5px;
  content: "";
  border-color: transparent transparent transparent #00AE58;
  position: absolute;
  margin: 4px 0 0 10px;
}

